Source: liblingua-en-words2nums-perl
Section: perl
Priority: optional
Build-Depends-Indep: debhelper (>= 4), perl5, dpkg-dev (>= 1.9.0)
Maintainer: Joey Hess <joeyh@debian.org>
Standards-Version: 3.5.10.0

Package: liblingua-en-words2nums-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}
Description: convert English text to numbers
 A perl module that can parse a wide variety of English text
 and deduce the number it represents. For example, it can convert
 "five million, one thousand and sixteen" to 5001016, and 
 "twenty-seventh" to 27.
